body { padding-top: 40px; }
.navbar-inner .container {
  margin-left: 23px;
}
.content { width: 550px; margin-left: 360px; }
#content { margin-top: 20px; }
#TOC {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 60px;
  position: fixed;
  top: 0;
  width: 300px;
}
