#TOC ul li {
  list-style:none;
}

.dir {
  font-size:28px;
}

.file {
  font-size:18px;
}

.depth1 {
  padding-left:40px;
}

.depth2 {
  padding-left:80px;
}

.depth3 {
  padding-left:120px;
}

.depth4 {
  padding-left:160px;
}

.depth5 {
  padding-left:200px;
}

.depth6 {
  padding-left:240px;
}

.depth7 {
  padding-left:280px;
}

.depth8 {
  padding-left:320px;
}

.depth9 {
  padding-left:360px;
}

.depth10 {
  padding-left:400px;
}

